
/*body {
	background: #F6F6F6;
	background: linear-gradient(to bottom, #F6F6F6 0%, #C4C4C4 100%) fixed;
	border-top: 3px solid pink;
}*/

.nav {
    color: #26c6da;
}
.randomButton {
    background-image: url('beer-pexels.jpg');
    background-size: cover;
    opacity: 0.75;
    height: 500px; /*full-screen is @ 511*/
    width: 830px;
}

.welcome {
    background-image: url('bar-pexels.jpg');
    background-size: cover;
    opacity: 0.72;
    height: 500px; /*full-screen is @ 511*/
    width: 830px;
}
.selectButton {
    /*background-color: #6d4c41;*/
    height: 500px; /*full-screen is @ 511*/
    width: 830px;
    /*height:100vh;*/
    opacity: 0.75;
}

.navScreen {
    height: 250px;
    background-color: #bcaaa4;
    margin-bottom: 200px;
}

a.a-select {
    color: #212121;
    font-size: 100px;
    height: 150px;
}

a.a-random {
    color: #eee;
    font-size: 100px;
}

p.p-welcome {
    color: #eee;
    font-size: 100px;
}

.a-select-box {
    height: 150px;
}

.a-random-box {
    height: 150px;
}

.a-welcome-box {
    height: 50px;
}

a.mat-btn {
    background-color: #b2ebf2;
}

.current-loc-box {
    margin-top: 100px;
}
